<ng-container *ngFor="let conditionValue of conditionValues; let i = index">
  <div class="container main-container">
    <div class="row group-container col-12">
        <div class="row form-group col-10">
          <div class="col-3">
            <label>Type</label>
            <select class="form-control" [(ngModel)]="conditionValue.type" (change)="onValueChange()" aria-label="Type">
              <option *ngFor="let type of types" [value]="type.value" role="menuitem">{{type.name}}</option>
            </select>
          </div>
          <div class="col-3">
            <label>Sub Type</label>
            <select class="form-control" [(ngModel)]="conditionValue.subType" (change)="onValueChange()" aria-label="Sub Type">
              <option *ngFor="let subType of subTypes" [value]="subType.value" role="menuitem">{{subType.name}}</option>
            </select>
          </div>
          <div class="col-3">
            <label>Status</label>
            <select class="form-control" [(ngModel)]="conditionValue.status" (change)="onValueChange()" aria-label="Status">
              <option *ngFor="let status of statuses" [value]="status.value" role="menuitem">{{status.name}}</option>
            </select>
          </div>
          <div class="col-3">
            <label>Operation Name</label>
            <select class="form-control" [(ngModel)]="conditionValue.operationName" (change)="onValueChange()" aria-label="Operation Name">
              <option *ngFor="let operationName of operationNames" [value]="operationName.value" role="menuitem">{{operationName.name}}</option>
            </select>
          </div>
        </div>
        <div class="row col-2 d-flex justify-content-end">
          <span class="material-icons primary-color" (click)="onDelete(conditionValue.id)" style="cursor: pointer;" tabindex="0" matTooltip="Delete Condition" matTooltipPosition="above">
            delete
          </span>
          <span class="material-icons primary-color" (click)="onAdd()" style="cursor: pointer;" tabindex="0" matTooltip="Add Condition" matTooltipPosition="above">
            add
          </span>
        </div>
    </div>
    <div class="d-flex align-items-center col-6">
        <div *ngIf="conditionValue.type === 'exit_code'" class="row col-6 d-flex justify-content-between">
          <div class="col-6" style="padding-left: 0px">
            <label for="condition_operator">Operator</label>
            <select class="form-control" [(ngModel)]="conditionValue.operator" (change)="onValueChange()" aria-label="Operator">
              <option *ngFor="let operator of operators" [value]="operator.value" role="menuitem">{{operator.name}}</option>
            </select>
          </div>
          <div class="col-6" style="padding: 0; padding-right: 15px;">
            <label>Value</label>
            <input type="text" class="form-control" [(ngModel)]="conditionValue.value" (change)="onValueChange()">
          </div>
        </div>
        <div *ngIf="conditionValue.subType === 'look_back'" class="row col-6 d-flex flex-column">
          <label>Lookback</label>
          <div class="d-flex">
            <input class="form-control look-back" type="number" min="0" max="9999" [(ngModel)]="conditionValue.lookbackHour" (change)="onValueChange(i)">
            <input class="form-control look-back" type="number" min="0" max="59" [(ngModel)]="conditionValue.lookbackMinute" (change)="onValueChange(i)">
          </div>
        </div>
    </div>
  </div>
</ng-container>