<div class="container">
    <form [formGroup]="queryForm">
        <div formArrayName="ruleSet">
            <div *ngFor="let group of queryForm.controls.ruleSet.controls; let ix=index">
                <div formGroupName="{{ix}}">



            <mat-radio-group formControlName="condition" role="radiogroup" aria-label="Select an option">
                <mat-radio-button role="radio" aria-checked value="and">AND</mat-radio-button>&nbsp;&nbsp;
                <mat-radio-button role="radio"  aria-checked value="or">OR</mat-radio-button>
              </mat-radio-group>

              <div class="float-right">
                  <button type="button" (click)="addCond(ix)">Add Condition</button>
                  <button type="button" (click)="addGroup()">Add Group</button>
                  <button type="button" (click)="delGroup(ix)">Delete Group</button>
              </div>

              <div formArrayName="rules">
                <div  *ngFor="let row of group.controls.rules.controls; let iy=index">

                    <div class="row" formGroupName="{{iy}}">


                    <div style="width:20%">
                      <mat-form-field appearance="fill">
                          <mat-label>Favorite food</mat-label>
                          <mat-select>
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                              {{food.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                    <div style="width:20%">
                      <mat-form-field appearance="fill">
                          <mat-label>Favorite food</mat-label>
                          <mat-select>
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                              {{food.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
                  <div style="width:20%">
                      <mat-form-field appearance="fill">
                          <mat-label>Favorite food</mat-label>
                          <mat-select>
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                              {{food.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
                  <div style="width:20%">
                      <mat-form-field appearance="fill">
                          <mat-label>Favorite food</mat-label>
                          <mat-select>
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                              {{food.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
                  <div style="width:20%; margin-top: 1rem;">
                    <button  type="button" (click)="delRow(ix,iy)">x</button>

                  </div>
                </div>
                </div>
              </div>

            </div>
              </div>

        </div>

    </form>
</div>

<pre>{{queryForm.value | json}}</pre>